<title>Zakarya Mermoul</title>
<script>window.location = "https://zakaryamermoul.github.io" + window.location.pathname;</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.css">
<script src="https://cdn.jsdelivr.net/gh/casualwriter/casual-markdown/dist/casual-markdown.js"></script>
<style>  
  body { line-height:1.5; margin:auto; padding:3px; max-width:1024px; display:none; FONT-FAMILY:ARIAL; border: 5px solid STEELBLUE;}
  h1  { font-size:200%; padding:16px; border:1px solid lightgrey; BACKGROUND:STEELBLUE; COLOR:WHITE }
  h2s  { font-size:60% }
  h2  { border-bottom:1px solid grey; padding:2px; COLOR:STEELBLUE }
</style>
<body onload="document.body.innerHTML=md.html(document.body.innerHTML); document.body.style.display='block';">
<!--======= COPY ABOVE CODE AS HEADER, THEN FOLLOW WITH RESUME CONTENT IN MARKDOWN FORMAT =========-->


<img style="float:right;width:70px;padding:6px" src="../assets/img/qrcode.png" />

<span style="float:right;padding:6px;COLOR:WHITE"> 
  <centre>zed.owftz@aleeas.com<br> w4spy.github.io <br> Citizenship: Algerian <br> (+213) 664793995/793353329 </centre>
</span> 
# Zakarya Mermoul <br> <h2s> Energy & industrial systems engineer </h2s>

## Executive Summary
* solid background in plant operations and process improvement.
* considerable expertise in the design and analysis of processes to increase the overall efficiency of operations
* advanced computer skills 
* global mindset.

## Education & Qualifications
### Master2 in industrial energy systems
`July 2021`
+ `University frères mentouri constantine 1`
+ `Department of mechanical engineering`

### Bachelor in industrial energy systems
`Sept 2019`
+ `University frères mentouri constantine 1`
+ `Department of mechanical engineering`

### CEIL english level IV (B2)
`Feb 2021`
+ `University frères mentouri constantine 1`

## Languages 

#### Arabic: Native
<progress value="100" max="100"></progress><br>
#### English: Very good<br>
<progress value="80" max="100"></progress><br>
#### French: Good<br>
<progress value="55" max="100"></progress><br>
#### German: Beginner<br>
<progress value="10" max="100"></progress><br>



## Working Experience

#### Sonaric | Operator | Ferdjioua.
`Mars 2018 | 3 Months | Internship.`

- Hydraulic compressor operator.
- Lathe and milling machine operator.
- Construction of a spare part.

#### Organisation Ourhoud | Maintenance technician | Hassi Messaoud.
`Mars 2019 | 15 Days | Internship.`
- Thermodynamic study of the MS5002C gas turbine.
- Major inspection of the MS5002C turbine.
- BCL centrifugal compressor maintenance (rotor replacement).
- Studying the crude oil exploitation process.
- Inspection of exploitation and injection wells

#### Air Algerie | Propulsion engineer | Constantine.
`Jan 2020 | 2 Months | Internship.`
- Inspection of the Boeing 737 and Airbus A330 turbojet engines
- Inspection of ATR72 turboprop engines
- Preflight inspection
- Nightly inspection

#### Sonatrach GL1K | Process engineer | Skikda.
`April 2021| 15 days | Internship.`

- Controlling the electricity generation unit (5 gas turbine MS5002) with the mark VI.
- Simulation of liquefaction and fractionation process on HYSYS.
- studying the APCI process.
- studying the effects of the variation of the composition of LNG on the liquefaction cycle.
&nbsp; [](for printing)
#### ENT TRAV GAZ | Gas Network technician | Mila.
`October 2019 | 1 Year | Part-time.`  
`October 2020 | 1 Year | Full-time.`

- Designing gas pipes networks.
- Managing gas pipes installation.

#### Klein fab | fabrication engineer | Blida.
`aug 2022 | jan 2023 | Full-time.`

- 3D modelling using solidworks.
- realisation and construction of industrial machines.
- quality control  

#### GFB | industrial systems engineer | Setif.
`jan 2023 | present | Full-time.`

- assembling of production lines
- maintenance 
- production management

## Skills

`Adaptability`  
• I’ve learned from engineers during my internships and from working in different fields.

`Collaboration`   
• I've collaborated with people in different projects inside and outside the university.

`Communication`   
• I’ve worked in different areas with people from different countries and nationalities.

`Creativity`     
• An outside of the box thinker.

`Delegation`    
• I’ve managed and coordinated my group during practical work in university.

## Misc. Information

#### Modeling software
+ HYSYS, ANSYS, SOLIDWOKS, SimScale, OpenFoam

#### Word, Excel, Access, Internet, Outlook.
#### Mysql,Sqlite,Postgresql databases.
+ Basic use with the integration of programming languages in a small scale.

#### Python programming language
+ Intermediate tasks.
+ Automation tasks.
+ Equations solving.

#### Basic understanding of the web and web services.
#### Linux system administration.
+ Management of "debian" and "centos" servers for personal use.
+ Amazon AWS, proxmox and google cloud services management.
+ Configuration and maintenance of Linux system.

#### Industrial control systems (SCADA & DCS).
+ Usage and design of process with siemens ignition (SCADA).
+ Usage of mark VI (DCS).

#### Network
+ General view of CISCO CCNA.
+ Basic understanding of network protocols.

#### Offensive security
+ Determination of the system and service flaws.
+ Determination of the wrong configuration.

## Realisations

#### Recommandation letters in :
Fluid mechanics, 
Internal combustion, 
Propulsion systems, 
Power plants, 
Cryogenics.

#### Valedictorian in master2.

#### Top 50 international in hackthebox.eu.

